header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }
  
nav li {
            display: inline-block;
            margin-right: 20px;
            }

            nav a {
                color: #fff;
                text-decoration: none;
                padding: 5px;
                }
                nav a:hover {
                color: #1BF7DE;
                }

.fotos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    

}

.container-nav {
    display: flex;
    padding: 10px ;
    height: 50px;
    background-color: black;
    }
.navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
.brand {
        display: flex;
        align-items: center;
        }
        li>a {
        padding: 8px 24px;
        }
        li {
        list-style-type: none;
        }
        a {
        color: white;
        text-decoration:none;
        }
    .nav-links {
        display: flex;
        align-items: center;
        }
        .button-menu-toggle {
        display: none;
        }

        @media (max-width: 768px) {
            .column {
            flex: 100%;
            }
            .nav-links {
            display: none;
            }
            .button-menu-toggle {
            display: block;
            background-color: white;
            border:none;
            border-radius: 50px;
            padding: 0 24px;
            font-family: monospace;
            font-weight: bold;
            font-size: 20px;
            }
            .nav-links.nav-links-responsive {
            position: absolute;
            display: flex;
            background-color: rgba(20,20,20,0.95);
            width: 100%;
            height: 100%;
            top: 70px;
            left: 0;
            flex-direction: column;
            padding-top: 200px;
            align-items: center;
            gap:70px;
            font-size: 40px;
            }
            }
            footer{
                font-size: 25px;
                background-color: cadetblue;
                text-align: center;
            }

            main{
                ont-size: 25px;
                background-color: rgb(143, 245, 182);
                text-align: center;
            }